body {
  font-size: 16px;
  color: #663300; /* maroon */
  background-color: #C39BD3; /* lavender */
  font-family: "Chalkboard",  sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #663300;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
 background-color: #663300;
}

.navbar-brand h1 { /* Restaurant name */
  background-color: #663300;
  color:#FFCCFF;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
  text-align:center;
  background-color:pink;
}

#nav-list a {
  color:#663300;
  text-align: center;
  border-bottom: solid #663300;
}

#nav-list a:hover {
  background:#E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;

}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #AF7AC5;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}
/* END HEADER */
/* BODY */
#chick_menu, #beef_menu, #sushi_menu {
  font-size:15px;
  background-color:#663300;
  color:#C39BD3;
  border:2px solid #C39BD3;
  size:9999px;
  
  
}


#menu-title {
  font-size:25px;
  background-color:#C39BD3;
}

p {
  background-color:#663300;
  color:#C39BD3;
  /*padding-left:10px;
  padding-right:10px;*/

}
#chicken, #beef, #sushi {
  font-size:2em;
}

/* HOME PAGE */
.container {
  color:#663300;
  background-color:#663300;
}


